.button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: 0px;
  cursor: pointer;
}

.light {
  background-color: var(--primary);
}

.dark {
  background-color: var(--secondary);
}

.medium {
  padding: 12px 24px;
}

.large {
  padding: 18px 24px;
}