@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne-Regular.ttf') format('tff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne-Medium.ttf') format('tff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne-SemiBold.ttf') format('tff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne-Bold.ttf') format('tff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../assets/fonts/Syne-ExtraBold.ttf') format('tff');
  font-weight: 800;
  font-display: swap;
}